
body {
    transition: background 0.2s linear;
}
/*menu 1*/
.menu1 {
    width: 1200px;
    margin: 0px auto;
}
#dangnhap a {
    display: inline-block;
    float: right;
}
    .menu1 a {
        font-size: 16px;
        color: white;
    }
/*menu2*/
.menu2{
    width: 1200px;
    margin: 0px auto;
    height: 60px;
    display: inline-block;

}
    .menu2 img {
        width: 200px;
        height: 100px;
        float: left;
        margin: 0px auto;
        padding-right: 20px;
        padding-bottom: 5px;
    }
.timkiem{
    width: 500px;
    float:left;
    padding-top: 20px;
    padding-left: 200px;
}
.giohang {
    padding-top: 10px; 
/*    float: right;*/
    margin: -10px 50px ;
}

/*menu 3*/
/*@media screen and (max-width: 1000px) {
    .navbar-collapse {
        display: none;
    }

        .navbar-collapse.show {
            display: block;
        }

    .navbar-toggler {
        display: block;
    }
}*/

    .menu3a a{
        width:250px;
    }
.navbar-nav{
    float:left;
}
/*primary menu */
ul li{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#primary-menu {
}
    #primary-menu a {
        
        text-decoration: none;
        color:black;
        text-align: center;
        float: left;
        height:64px;
        width: 14%;
    }
.menu_icon img{
    width:30px;
}
.trangchu:hover a{
    background-color: lightgray;
}
.cho:hover a {
    background-color: lightgray;
}
.meo:hover a {
    background-color: lightgray;
}
.smallpet:hover a {
    background-color: lightgray;
}
/*slide banner*/
/*.carousel-inner {
    width: 100%;
}*/
.slide img {
    width: 100%;
    height: 700px;
}
.navbar-brand{
    /*width:7%;*/
}
img{
   /* vertical-align: middle;*/
   width: 2%;
}
.carousel-control-prev-icon {
    background-color: gray;
    height: 50px;
}
.carousel-control-next-icon {
    background-color: gray;
    height: 50px;
}
/*icon menu*/
#dog img{
    width: 30px;
}
#cat img {
    width: 30px;
}
#chuot img {
    width: 30px;
}
#trangchu img{
    width: 30px;
}
/*footer*/
.footer {
    background-color: #cdb8cc;
}
.footer .footer-socila-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F84E77;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

    .footer .footer-socila-icon a:hover {
        background: #1baaa0;
    }

.footer .footer-links {
    margin: 0;
}

    .footer .footer-links li + li {
        padding-top: 10px;
    }

    .footer .footer-links li a {
        position: relative;
    }

        .footer .footer-links li a:after {
            content: "";
            position: absolute;
            width: 0px;
            left: auto;
            right: 0;
            bottom: 0;
            height: 1px;
            transition: ease all 0.35s;
            background: #F84E77;
        }

        .footer .footer-links li a:hover:after {
            width: 100%;
            left: 0;
            right: auto;
        }

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .footer .footer-top h5,
    .footer .footer-top .h5 {
        position: relative;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

    .footer .footer-border-top.dark {
        border-top: 1px solid rgba(16, 16, 16, 0.1);
    }
.white-link a {
    color: rgba(255, 255, 255, 0.65);
}

a {
    text-decoration: none
}
#logo img{
    width: 100%;
}


