
body {
    transition: background 0.2s linear;
}
/*menu 1*/
.menu1 {
    width: 1200px;
    margin: 0px auto;
}
#dangnhap a {
    display: inline-block;
    float: right;
}
    .menu1 a {
        font-size: 16px;
        color: white;
    }
/*menu2*/
.menu2{
    width: 1200px;
    margin: 0px auto;
    height: 60px;
    display: inline-block;

}
    .menu2 img {
        width: 200px;
        height: 100px;
        float: left;
        margin: 0px auto;
        padding-right: 20px;
        padding-bottom: 5px;
    }
.timkiem{
    width: 500px;
    float:left;
    padding-top: 20px;
    padding-left: 200px;
}
.giohang{
    padding-top: 15px;
    /*padding-left:50px;*/
    float: right;
}

/*menu 3*/
/*@media screen and (max-width: 1000px) {
    .navbar-collapse {
        display: none;
    }

        .navbar-collapse.show {
            display: block;
        }

    .navbar-toggler {
        display: block;
    }
}*/
.menu3{
    width: 1200px;
    height: 64px;
    margin: 0px auto;
}
    .menu3 .sanphamchung {
        width: 250px;
        background-color: #00962a;
        color: white;
        float:left;
    }
    .nav .style-5{
        width: 150px;
    }
.menu3 a{
    display: inline-block;
    padding: 20px 20px;
}
.menu3a img{
    width: 25px;
    height: 25px;
    color: black;
}
.menu3a{
    width: 1200px;
    /*margin: 0px auto;*/
    margin: 0px 148px;

}
    .menu3a a{
        width:250px;
    }
    .nav-item:hover a {
        background-color: lightgray;
        color: black;
        padding-left: 10px;
    }
.navbar-nav{
    float:left;
}
/*primary menu */
ul li{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#primary-menu {
}
    #primary-menu a {
        
        text-decoration: none;
        color:black;
        text-align: center;
        float: left;
        height:64px;
        width: 14%;
    }
.menu_icon img{
    width:30px;
}
.trangchu:hover a{
    background-color: lightgray;
}
.cho:hover a {
    background-color: lightgray;
}
.meo:hover a {
    background-color: lightgray;
}
.smallpet:hover a {
    background-color: lightgray;
}
/*slide banner*/
/*.carousel-inner {
    width: 100%;
}*/
.slide img {
    width: 100%;
    height: 500px;
}
img{
   /* vertical-align: middle;*/
}
.carousel-control-prev-icon {
    background-color: gray;
    height: 50px;
}
.carousel-control-next-icon {
    background-color: gray;
    height: 50px;
}



