@model PetStore.Models.PHANQUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHANQUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPQ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPQ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
