.main-header {
    background-color: #7286D3;
}
.card-header {
    background-color: #8EA7E9;
}
.btn-create {
    background-color: #5df073
}
.btn-delete{
    background-color: red;
}
.btn-back {
    background-color: cornflowerblue;
}
.btn-edit{
    background-color: deepskyblue;
}


