<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/BT.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    <link href="~/CSS/Style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #00962a">
        <div class="menu1">
            <div class="container" id="dangnhap">
                <a class="navbar-brand" href="#">
                    Đăng nhập
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                    </svg>
                </a>
                <a class="navbar-brand" href="#">
                    Đăng kí
                </a>
            </div>
        </div>
    </nav>

    @*menu 2*@
    <nav class="navbar navbar-expand-lg bg-body-tertiary col-auto">
        <div class="menu2">
            <div class="container">
                <div class="timkiem ">
                    <form class="d-flex mt-0" role="search">
                        <input class="form-control col-md-8 search_input me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="giohang">
                    <button type="button" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                            <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <hr />
    @*menu 3*@
    <nav class="navbar3">
        <div class="menu3">
            <div class="sanphamchung">
                <a href="#" class="nav-link">SẢN PHẨM CHUNG</a>
            </div>          
            <a class="nav-link" href="#">Trang chủ</a>
            <a class="nav-link" href="#">Chó</a>
            <a class="nav-link" href="#">Mèo</a>
            <a class="nav-link" href="#">Thỏ</a>
            @*<button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>*@
        </div>
        <div class="menu3a">
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chó</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mèo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thỏ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
