<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/BT.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    <link href="~/CSS/Style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #00962a">
        <div class="menu1">
            <div class="container" id="dangnhap">
                <a class="navbar-brand" href="#">
                    Đăng nhập
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                    </svg>
                </a>
                <a class="navbar-brand" href="#">
                    Đăng kí
                </a>
            </div>
        </div>
    </nav>

    @*menu 2*@
    <nav class="navbar navbar-expand-lg bg-body-tertiary col-auto">
        <div class="menu2">
            <div class="container">
                <div class="logo">
                    <img src="~/Content/images/logo.png" />
                </div> 
                <div class="timkiem ">
                    <form class="d-flex mt-0" role="search">
                        <input class="form-control col-md-8 search_input me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="giohang">
                    <button type="button" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                            <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <hr />
    @*menu 3*@
        <div class="menu3">
            <div class="sanphamchung">
                <a href="#" class="nav-link">SẢN PHẨM CHUNG</a>
            </div>
            <nav  class="style-5 hidden-xs hidden-sm">
                <ul id="primary-menu">
                    @*trang chu*@
                    <li class="trangchu">
                        <a  href="/">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">
                                    <img alt="Trang chủ" src="~/Content/images/homeicon.png">
                                    Trang chủ
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li class="cho">
                        <a class="menu" href="/cho-dogs">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">
                                    <img alt="Chó" src="~/Content/images/dog icon.png">
                                    Chó
                                </div>
                               
                            </div>
                        </a>
                    </li>
                    <li class="meo">
                        <a class="menu" href="/meo-cats">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">
                                    <img alt="Mèo" src="~/Content/images/caticon.png">
                                    Mèo
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li class="tho">
                        <a class="menu" href="/tho-small-pet">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">
                                    <img alt="Thỏ - Small Pet" src="~/Content/images/rabbiticon.png">
                                    Thỏ
                                </div>
                                
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
            <!--<nav id="primary-menu" class="style-5 hidden-xs hidden-sm">
                <ul>
                    <li class="">
                        <a href="/">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Trang chủ" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_1.png?1646886129389">

                                </div>
                                Trang chủ
                            </div>
                        </a>
                    </li>-->
                    <!-- normal sub menu -->
                    <!--<li class="">
                        <a class="menu" href="/cho-dogs">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Chó" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_2.png?1646886129389">

                                </div>
                                Chó
                            </div>
                        </a>
                        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
                        <ul>


                            <li class=""><a class="sub-menu" href="/hat-kho-dry-food"><div>Hạt Khô - Dry Food</div></a></li>



                            <li class=""><a class="sub-menu" href="/thuc-an-dang-pate"><div>Thức Ăn Ướt - Pate Wet Foods</div></a></li>



                            <li class=""><a class="sub-menu" href="/xuong-banh-thuong"><div>Xương &amp; Bánh thưởng - Snacks &amp; Treats</div></a></li>



                            <li class=""><a class="sub-menu" href="/do-choi"><div>Đồ Chơi - Toys</div></a></li>



                            <li class=""><a class="sub-menu" href="/chuong-long-van-chuyen"><div>Chuồng Rào - Crates &amp; Gates</div></a></li>



                            <li class=""><a class="sub-menu" href="/ve-sinh-huan-luyen"><div>Vệ Sinh - Training Toilets</div></a></li>


                        </ul>
                    </li>-->
                    <!-- end normal sub menu -->
                    <!-- normal sub menu -->
                    <!--<li class="">
                        <a class="menu" href="/meo-cats">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Mèo" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_3.png?1646886129389">

                                </div>
                                Mèo
                            </div>
                        </a>
                        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
                        <ul>


                            <li class=""><a class="sub-menu" href="/hat-kho-dry-food-1"><div>Hạt Khô - Dry Foods</div></a></li>



                            <li class=""><a class="sub-menu" href="/thuc-an-dang-pate-meo"><div>Thức Ăn Uớt  - Pate Wet Foods</div></a></li>



                            <li class=""><a class="sub-menu" href="/xuong-banh-thuong-1"><div>Bánh Thưởng - Snacks &amp; Treats</div></a></li>



                            <li class=""><a class="sub-menu" href="/do-choi-meo"><div>Đồ Chơi - Cat Toys</div></a></li>



                            <li class=""><a class="sub-menu" href="/chuong-long-van-chuyen"><div>Chuồng Rào - Crates &amp; Gates</div></a></li>



                            <li class=""><a class="sub-menu" href="/ve-sinh-huan-luyen-meo"><div>Vệ Sinh - Training Toilets</div></a></li>



                            <li class=""><a class="sub-menu" href="/tru-cao-mong-nha-cay-scratchers-funiture"><div>Trụ Cào Móng,Nhà Cây - Scratchers,Funiture</div></a></li>


                        </ul>
                    </li>-->
                    <!-- end normal sub menu -->
                    <!-- normal sub menu -->
                    <!--<li class="">
                        <a class="menu" href="/tho-small-pet">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Thỏ - Small Pet" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_4.png?1646886129389">

                                </div>
                                Thỏ - Small Pet
                            </div>
                        </a>
                        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
                        <ul>
                        </ul>
                    </li>-->
                    <!-- end normal sub menu -->
                    <!--<li class="">
                        <a href="/hinh-anh">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Hình ảnh" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_5.png?1646886129389">

                                </div>
                                Hình ảnh
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="/lien-he-1">
                            <div>
                                <div class="menu_icon hidden-xs hidden-sm">

                                    <img alt="Liên hệ" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_6.png?1646886129389">

                                </div>
                                Liên hệ
                            </div>
                        </a>
                    </li>


                </ul>
            </nav>-->
            @*<button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>*@
        <nav class="menu3a">
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quần áo - Phụ kiện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sữa Tắm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dụng cụ ăn uống</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dụng cụ làm đẹp</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
