@if (TempData.ContainsKey("Message"))
{
    PushNoti message =(PushNoti) TempData["Message"];
    <div class="alert alert-@message.TypeNoti alert-dismissible">
        @message.Content
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
}
